#BACKEND

# Node modules
backend/node_modules/

# Logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Environment variables
backend/.env

# TypeScript compiled files
backend/dist/
backend/*.tsbuildinfo

# Nodemon / ts-node temp files
backend/.tscache/

# OS files
.DS_Store
Thumbs.db

# Optional: VSCode workspace settings
.vscode/


#FRONTEND
frontend/node_modules

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
